body{

background-image: url(kevinki.jpg);

}

.h{
background: gray;
font-size: 40px;
text-align: center;
border-radius: 10%px;
overflow: hidden;
background-size:40px; 
}
a:hover{
 color: aquamarine;
 height: 400px;
transition:all 3s ease-out;
animation-play-state: paused;
cursor: alias;
}

.g{
  background: gray;
font-size: 40px;
text-align: center;
border-radius:10%px;
overflow: hidden;
background-size: 40px;
}


.o{
color: red;
background:blue;
background-size: 70px;
height: 120px;
text-align:center; 
font-size: 50px;
border-radius: 90px;
visibility: visible;
opacity: 1;
}
@keyframes sbark {
  from{color:blue; transform: translateX(-300px); }
  to{color:black;transform: translateX(0px); }
}

.ki {

  animation-name: sbark;
  animation-duration:2s;
animation-direction:alternate-reverse;
animation-timing-function:ease-in ;
  animation-iteration-count:infinite;
   animation-fill-mode: both;
   transform: translateX(-150px);
   text-align-last: right;
text-size-adjust: 50px;            
            letter-spacing: 10px;       
}

.ki1{
  height: 100px;
  width: 100px;
  background:blue;
  animation-name: kasber;
  animation-duration: 2s;
  background-size:  right;
  animation-iteration-count:infinite;
  animation-direction: alternate;   
  animation-play-state:initial;
}
@keyframes kasber{
0%{
  translate: 0 0; background: blueviolet;}
100%{ translate: 100px 700px;background: chartreuse;}
100%{ translate: 400px 500px;background: deeppink;}
75%{translate:400px 0;background:black;}
100%{translate: 0 0 ;background:gray;}


}
.item1{
  padding:10px;
  margin:10px;
  background:gray; 
  text-align: center; 
  text-size-adjust:40px;
  text-transform: uppercase;
  letter-spacing: 30px;
  direction: ltr;
  text-shadow:0 0 0 0;
}
/*utili classess*/
.animate{

animation-duration: 1s;
animation-fill-mode: both;


}

.animate.animate--infinite{

animation-iteration-count: infinite;
}
.animate.animate--delay-1s {
  animation-delay: 1s;
}
.animate.animate--fast {
animation-duration: 0.6s;
}
.animate.animate--slow{
  animation-duration: 2s;
}
/*animations */
@keyframes slideInRight{
from{
transform: translateX(300px)
;
}
to{
transform: translateX(0);

}

}
.slideInRight{
animation-name: slideInRight;
animation-timing-function: ease-in;

}
@keyframes rotate {
from{
transform: rotate(0);
}
to{
transform: rotate(360deg)
}}
.rotate {
animation-name:rotate;
animation-timing-function: linear;
}